<section class="collection-section">
  <div class="collection-container container">
    <h2 class="collection-title">Our collection</h2>

    <ul class="collection-list">
      <li class="collection-item">
        <img
          srcset="
            ./images/card/image-1.jpg    1x,
            ./images/card/image-1@2x.jpg 2x,
            ./images/card/image-1@3x.jpg 3x
          "
          class="collection-img"
        />
        <h3 class="collection-name">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <img
          srcset="
            ./images/card/image-2.jpg    1x,
            ./images/card/image-2@2x.jpg 2x,
            ./images/card/image-2@3x.jpg 3x
          "
          class="collection-img"
        />
        <h3 class="collection-name">Women's blouse Gorgany</h3>
        <p class="collection-price">3350 UAH</p>
      </li>
      <li class="collection-item">
        <img
          srcset="
            ./images/card/image-3.jpg    1x,
            ./images/card/image-3@2x.jpg 2x,
            ./images/card/image-3@3x.jpg 3x
          "
          class="collection-img"
        />
        <h3 class="collection-name">Women's blouse Crimea</h3>
        <p class="collection-price">4000 UAH</p>
      </li>

      <li class="collection-item">
        <img
          srcset="
            ./images/card/image-4.jpg    1x,
            ./images/card/image-4@2x.jpg 2x,
            ./images/card/image-4@3x.jpg 3x
          "
          class="collection-img"
        />
        <h3 class="collection-name">Men's shirt Verkhovina</h3>
        <p class="collection-price">3100 UAH</p>
      </li>
      <li class="collection-item">
        <img
          srcset="
            ./images/card/image-5.jpg    1x,
            ./images/card/image-5@2x.jpg 2x,
            ./images/card/image-5@3x.jpg 3x
          "
          class="collection-img"
        />
        <h3 class="collection-name">Mountain men's shirt</h3>
        <p class="collection-price">3300 UAH</p>
      </li>

      <li class="collection-item">
        <img
          srcset="
            ./images/card/image-6.jpg    1x,
            ./images/card/image-6@2x.jpg 2x,
            ./images/card/image-6@3x.jpg 3x
          "
          class="collection-img"
        />
        <h3 class="collection-name">Men's shirt Yasen</h3>
        <p class="collection-price">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
