<section class="footer">
  <div class="footer-container container">
    <nav class="site-nav site-nav__footer">
      <ul class="site-nav__list site-nav__footer--list">
        <li class="site-nav__item">
          <a class="site-nav__link">About Us</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link">Our collection</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link">Cuctomer Order</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link">Testimonial</a>
        </li>
      </ul>
    </nav>
    <h2 class="footer-title">
      A touch of <span>Ukrainian</span> culture in every embroidery
    </h2>
  </div>
</section>
