<header class="header">
  <div class="header-container container">
    <a class="logo" href="./index.html">
      <img src="./images/png/logo.png" width="44px" height="40px" />
    </a>
    <button
      type="button"
      class="button-menu"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        width="28px"
        height="28px"
        aria-label="Перемикач меню"
        class="menu-svg"
      >
        <use
          href="./images/sprite/symbol-defs.svg#icon-menu"
          class="icon-menu"
        ></use>
        <use
          href="./images/sprite/symbol-defs.svg#icon-close"
          class="icon-close"
        ></use>
      </svg>
    </button>
    <div class="menu-container" data-menu id="menu-container">
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="site-nav__link">About Us</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link">Our Collection</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link">Customer order</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link">Testimonial</a>
          </li>
        </ul>
      </nav>
      <div class="contact">
        <address class="address">
          <a class="tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
      </div>

      <ul class="social-links__list">
        <li class="social-links__item">
          <a href="https://uk-ua.facebook.com/" class="social-links__link">
            <svg width="28px" height="28px" class="social-links__icon">
              <use href="./images/sprite/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a href="https://www.instagram.com/" class="social-links__link">
            <svg width="28px" height="28px" class="social-links__icon">
              <use href="./images/sprite/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a href="https://www.youtube.com/" class="social-links__link">
            <svg width="28px" height="28px" class="social-links__icon">
              <use href="./images/sprite/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
