<section class="hero-section">
  <div class="hero-container container">
    <img
      srcset="
        ./images/hero/girl.jpg    1x,
        ./images/hero/girl@2x.jpg 2x,
        ./images/hero/girl@3x.jpg 3x
      "
      alt="жінка"
      class="hero-img"
    />
    <div class="hero-header">
      <h1 class="hero-title">
        Reviving the traditional <span>Ukrainian</span> artistry in every
        stitch.
      </h1>
      <button class="hero-btn">
        Order
        <svg width="26px" height="10px">
          <use href="./images/sprite/symbol-defs.svg#icon-untitled"></use>
        </svg>
      </button>
    </div>
    <p class="hero-text">
      <svg width="52px" height="51px" class="hero-svg">
        <use href="./images/sprite/symbol-defs.svg#icon-star"></use>
      </svg>
      all embroidery is
      <br />made by hand
    </p>
  </div>
</section>
